{% extends 'base.html.twig' %}

{% block title %}New File{% endblock %}

{% block body %}
    <h1>Create new File</h1>

    {{ include('file/_form.html.twig') }}

    <a href="{{ path('app_admin_file_index',  {'user_login': user.login, 'category_label': category.label }) }}">Liste des fichiers</a>
{% endblock %}
