<h1>Bonjour</h1>

<p>Pour réinitialiser votre mot de passe, merci de cliquer sur le lien suivant : <br>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
</p>
<p>Ce lien expirera dans 1 heure.</p>

<p>A bientôt sur votre espace client !</p>
