<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce client ?');" class="no-print">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn not-btn">
        <i class="fa-solid fa-trash-can"></i>
        <span>Supprimer le client</span>
    </button>
</form>
