{% extends 'base.html.twig' %}

{% block title %}Editer l'utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user/form_user.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    <h1>Editer l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

<div class="margin-left-2-rem margin-top-2-rem no-print">
    <a href="{{ path('app_user_category_index') }}" class="no-print">
        <i class="fa-solid fa-arrow-left"></i><span>Retour</span>
    </a>
</div>
{% endblock %}
