{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel utilisateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user/user.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user/form_user.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>
    {{ include('user/_form.html.twig') }}

    <div class="margin-left-2-rem margin-top-2-rem no-print">
        <a href="{{ path('app_admin_index') }}">
            <i class="fa-solid fa-arrow-left"></i><span>Retour</span>
        </a>
    </div>
{% endblock %}
