{% block title %}Bonjour{% endblock %}

{% block body %}
    <br>
    <br>
    <p>
        Un compte sur l'espace client TEMMA (https://www.temma.fr/) a récemment été créé au nom de votre entreprise.<br>
        Votre identifiant est le suivant : {{ user.login }}<br>
        Pour accéder à votre compte et à nos nouveaux services, merci de cliquer sur le lien suivant afin de choisir votre mot de passe :
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
    </p>
    <br>
    <p>
        A bientôt sur votre espace client TEMMA.
        David DARRIET 
        TEMMA SAS 
        06.69.65.21.36 
        www.temma.fr 

    </p>
{% endblock %}
