.info_client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
}

.info_client div {
    margin-bottom: 1.5rem;
}

.label_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.infos_contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.action_form_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.is_admin{
    margin: 2% 0 2% 0;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    color: black;
}

a:hover span {
    border-bottom: 1px solid black;
}

/* --- MEDIA QUERRIES --- */
/* --- Version téléphone --- */
@media only screen and (max-width: 767px) {
    .info_client {
        gap: 0;
    }
}

/* --- FIN MEDIA QUERRIES --- */