.btn-user-add {
    background: #A62A3D;
    border: none;
    border-radius: 0.4em;
    padding: 0.7rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.btn-user-add:hover {
    background: #57000D;
}

.btn:hover {
    background: #57000D;
    cursor: pointer;
}

/*  --- a href ---  */
.btn-user-add > a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*  --- fin a href ---  */

/*  --- Liste user --- */
.divTable {
    margin-right: 2rem;
    padding-bottom: 2rem;
}

.bold {
    font-weight: bold;
}

.divTableRow {
    display: flex;
    margin-left: 2rem;
    align-items: center;
}

.divTableRow:not(:first-child) {
    border-radius: 0.4em;
    border: none;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    background: #A62A3D;
    color: white;
}

.divTableRow:not(:first-child):hover {
    background: #57000D;
}

.divTableCell:not(:last-child) {
    flex: 2;
}

.divTableCell:last-child {
    flex: 5;
}

.divTableCell:first-child {
    padding-left: 0.5rem;
}

.padding-right-after-cut-word {
    padding-right: 1em !important;
}

.divTableCell {
    padding-right: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

/*  --- Fin liste user --- */

.container-user-inside-input {
    border: solid 1px #A62A3D;
    border-radius: 1em;
    padding: 2em;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.container-user-inside-input > .btn {
    align-self: center;
}

.action_user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.action_user a, .action_user button {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.action_user a span, .action_user button span {
    font-size: 12px;
    font-family: 'Quicksand', serif;
}

.action_user a:hover span, form button:hover span {
    border-bottom: 1px solid white;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form button {
    width: 100%;
}

/* --- MEDIA QUERRIES --- */
/* --- Version téléphone --- */
@media only screen and (max-width: 767px) {
    .responsive-user {
        display: none !important;
    }

    .flex-row {
        flex-direction: column;
    }

    .input {
        width: 100%;
        min-width: 150px;
        height: 2.5rem;
        border-radius: 0.4em;
        border: solid 1px #A62A3D;
    }

    .input-semi-long {
        width: 100%;
        min-width: 150px;
        height: 2.5rem;
        border-radius: 0.4em;
        border: solid 1px #A62A3D;
    }

    .input-long {
        width: 100%;
        min-width: 150px;
        height: 2.5rem;
        border-radius: 0.4em;
        border: solid 1px #A62A3D;
    }

    .btn {
        background: #A62A3D;
        color: white;
        border-radius: 0.4em;
        width: 60vw;
        min-width: 30%;
        height: 2.5rem;
        border: none;
        font-size: larger;
    }
}

/* --- FIN MEDIA QUERRIES --- */