@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', serif;
    height: 100%;
    margin: 0;
}

.color-red {
    color: #A62A3D;
}
.color-white {
    color: white;
}

.color-blue {
    color: blue;
}

.choice-field {
    border: solid 1px #A62A3D;
    border-radius: 0.4em;
    height: 2.5rem;
}

h1 {
    padding-left: 2rem;
    color: #A62A3D;
}

.font-medium {
    font-size: medium;
}

hr {
    color: #D9D9D9;
}

/* coupe le mot et ajoute "..." à la fin */
.cut-txt-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.padding-1rem {
    padding: 1rem;
}
.margin-top-2-rem {
    margin-top: 2rem;
}

.margin-left-2-rem {
    margin-left: 2rem;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-content {
    justify-content: center;
    display: flex;
}

.input {
    width: 300px;
    min-width: 30%;
    height: 2.5rem;
    border-radius: 0.4em;
    border: solid 1px #A62A3D;
}

.input-long {
    width: 500px;
    min-width: 30%;
    height: 2.5rem;
    border-radius: 0.4em;
    border: solid 1px #A62A3D;
}

.input-semi-long {
    width: 400px;
    min-width: 30%;
    height: 2.5rem;
    border-radius: 0.4em;
    border: solid 1px #A62A3D;
}

.input:focus-visible {
    outline-color: #A62A3D;
}

.btn {
    background: #A62A3D;
    color: white;
    border-radius: 0.4em;
    width: 300px;
    min-width: 30%;
    height: 2.5rem;
    border: none;
    font-size: larger;
}

.btn-long {
    background: #A62A3D;
    color: white;
    border-radius: 0.4em;
    width: 100%;
    min-width: 30%;
    height: 3.5rem;
    border: none;
    font-size: larger;
    justify-content: center;
}

.flash {
    padding: 1rem;
}

.flash-success {
    background: #d1e7dd;
    border: solid 1px #badbcc;
    color: #0f5132;
}

.flash-error {
    background: #842029;
    border: solid 1px #f8d7da;
    color: #f5c2c7;
}